
body {
    max-height: 100vh;
    overflow: hidden;
}

.main-section {
    position: absolute;
    top: 0;
    height: 90vh;
    width: 100%;
}

.add-city-form {
    opacity: .3;
}

.close-row {
    z-index: 100;
    position: absolute;
    right: 0
}

.move-up {
    padding-top: 10vh;
    transition: all 2s;
}

.move-down {
    padding-top: 20vh;
    transition: 1s;
}

.cities-data {
    width:100%;
    /*max-width: 1120px;*/
    height: 60vh;
    overflow: auto;
    overflow-x: hidden;
}

.city-card {
    transition: all .4s;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 2px 5px #999;
}

.city-card:hover {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 3px 25px #cccccc;
    transform: translateY(-2px);
    transition: 500ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.days, .hours {
    overflow: auto;
    scroll-behavior: smooth;
}

.day, .hour {
    min-width: 100px;
    min-height: 100px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgba(77, 86, 110, 0.57);
    border-bottom: 0;
}

.day {
    background-color: transparent;
    border: 2px solid transparent;
}

.square-light {
    transition: all .3s;
    background-color: rgba(77, 86, 110, 0.57);
    border-radius: 2px;
}

.day2:hover {
    border: 2px solid red;
}

.hour .sub{
    border-bottom: 2px solid #eeeeee;

}



/*.video-container {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 90vh;*/
/*    width: 100%;*/
/*    z-index: -100;*/
/*    opacity: 1;*/
/*}*/

/*.bg-video {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    object-fit: cover;*/
/*}*/


@media screen and (min-width: 576px){
    .modal-settings {
        max-width: 95%;
    }
}
@media screen and (min-width: 768px){
    .modal-settings {
        max-width: 90%;
    }
}
@media screen and (min-width: 992px){
    .modal-settings {
        max-width: 80%;
    }
}

@media screen and (min-width: 1300px){
    .modal-settings {
        max-width: 70%;;
    }
}

@media screen and (min-width: 1500px){
    .modal-settings {
        max-width: 60%;
    }
}