


{% for city in cities %}
    <div class="row city-card">
        <div class="col-6 col-md-4 col-lg-4 col-xl-3 mx-auto">
            <div class="card mb-3 shadow-sm position-relative">
                <div class="row" style="z-index: 100; position: absolute; right: 0">
                    <div class="col">
                        <div class="">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="city-name" value="{{ city.name }}">
                                <button type="button" class="close" aria-label="Close">
                                    <i class="far fa-times-circle fa-sm"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-4 col-lg-3 text-center">
                        <img src="http://openweathermap.org/img/w/{{ city.icon }}.png" class="" style="height: 100px" alt="...">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h3 class="card-title m-0">{{ city.name }}</h3>
                            <p class="card-text m-0"><small class="text-muted">{{ city.temperature }} C</small></p>
                            <p class="card-text m-0">{{ city.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
