<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.11.2-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/CustomCss.css' %}">
    <title>Your Cities Weather!</title>
</head>
<body>

<header class="bg-info py-4">
    <div class="row">
        <div class="col-1 "></div>
        <div class="col-10 col-md-8">
            <h1 class="text-light">What's the weather like?</h1>
        </div>
    </div>
</header>

<section class="position-relative">
    <!--Background image-->
    <div class="row justify-content-center align-items-center bg-dark">
        <div class="col text-center">
            <img src="{{ background_image }}" alt="" style="height: 100vh">
        </div>
    </div>

    <section class="main-section">
        <div class="main-body move-down">
            <!--form-->
            <div class="row justify-content-center p-3">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                    <form method="POST" class="add-city-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group">
                                    {{ form.city }}
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary form-control.app" id="form-button">Add City</button>
                                    </div>
                                </div>
                            </div>
                            {% if form.city.errors %}
                            <div class="col-12 form-errors">
                                <ul>
                                    {% for error in form.city.errors %}
                                    <p>
                                    <li><strong class="text-danger">Errors</strong></li>
                                    </p>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            <!--new list btn -->
            <div class="row new-line-btn d-none">
                <div class="col-6 mx-auto text-center">
                    <a href="{% url 'weather:new_list' %}" class="btn btn-outline-danger" id="new-list">New List</a>
                </div>
            </div>
            <div class="row new-line-row d-none">
                <div class="col-8 col-md-6 mx-auto">
                    <hr>
                </div>
            </div>
            <!-- cities-->
            <div class="cities-data p-3 pt-5">
                <div class="row justify-content-center align-items-center mx-3">
                    {% for city in cities %}
                        {% include 'weather/city_card.html' with city=city %}
                    {% endfor %}
                    <div class="modal-sec">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- JS files -->
{% include 'weather/js.html' %}


</body>
</html>

